*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: blue;
}

body {
  background: #f8f8f8;
}

section {
  background: #ffffff;
  padding-left: 1.8rem;
  margin-right: 32rem;
  margin-left: 27rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  margin-top: 5rem;
}

.create{
    font-size: 20px;
    font-weight: 600;
}

.alt {
    position: absolute;
    left: 85%;
    top: 15%;
  }

  .div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.eye {
    position: relative;
  }

input {
    height: 2.5rem;
    width: 23rem;
    border-radius: 7px;
    padding: 15px;
    border: 1px solid #b3b1b1;
  }

  .btn{
    background: #155eef;
  color: #ffffff;
  width: 23rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  margin-top: 3rem;
  }

.strong{
    font-size: 12px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.href{
    padding-top: 6px;
}

.back{
    display: flex;
    gap: 10rem;
}

.login{
    background: #155eef;
    color: #ffffff;
    margin-top: 22px;
    width: 9rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
  }

.just{
    display: flex;
    padding-left: 5rem;
    gap: 58rem;
    padding-bottom: 1rem;
  }

  @media screen and (max-width: 600px) {
    .just {
      gap: 9rem;
      padding-left: 1%;
    }

    section{
      margin-left: 2%;
      margin-right: 2%;
      padding-left: 2%;
    }

    .alt{
      left: 88%;
    }
  }